.PostThread {
   padding-top: 25px;
   padding-left: 1%;
}

.taglist {
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;

   box-sizing: border-box;
   position: relative;
   top: 210px;
   width: 400px;
   height: 50px;
   padding: 5px;
   border: 1px solid black;
}

.post-contents {
   box-sizing: border-box;
   width: 1000px;
   height: 300px;
   padding: 5px;
   border: 5px solid black;
}

.title {
   position: relative;
   left: -15px;
   box-sizing: border-box;
   width: 100px;
   height: 25px;
   padding: 5 px;
   border: 1px solid black;
}
.author {
   position: relative;
   left: 124px;
   box-sizing: border-box;
   width: 100px;
   height: 25px;
   padding: 5 px;
   border: 1px solid black;
}

.reply-contents {
   position: relative;
   top: 10px;
   box-sizing: border-box;
   width: 750px;
   height: 200px;
   padding: 5px;
   border: 5px solid black;
}

.reply-maker {
   position: relative;
   top: 30px;
   box-sizing: border-box;
   width: 500px;
   height: 370px;
   padding: 5px;
   border: 5px solid black;
}

.tag {
   box-sizing: border-box;
   padding-left: 3px;
   padding-right: 3px;
   border: 1px solid black;
}

textarea {
   height: 250px;
}

.button {
   position: relative;
   top: 15px;
}